@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .barbers > .container {
    max-width: 1200px;
  }

  .barbers-item {
    width: calc((100% - 60px) / 3);
  }

  .test-item {
    width: calc((100% - 150px) / 6);
  }

  .gallery {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}
