@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .hero-wrap {
    padding-bottom: 210px;

    background-image: var(--l-gra), url(../images/hero-bg.jpeg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--l-gra), url(../images/hero-bg-2x.jpeg);
    }
  }

  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }

  .barbers > .container {
    max-width: 1200px;
  }

  .barbers-item {
    width: calc((100% - 60px) / 3);
  }

  .test-item {
    width: calc((100% - 150px) / 6);
  }

  .gallery {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}
